/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 27, 2024, 4:35:37 PM
    Author     : PATRIX
*/
* {
    margin: 0;
    font-family: "Roboto";
}

body {
    background-image: url("/public/22432.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  color: white;
  padding: 30px;
  margin-top: 10px;
  font-family: Quicksand, Helvetica;
  font-size: 3rem;
  text-align: center;
}

nav {
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: rgba(255, 255, 255, 0.2);
    margin: 0px;
    padding: 5px;
    align-items: center;
    height: 70px;
    justify-content: space-between;
}

.navlist {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70px;
    margin: 0;
    padding: 0;
    gap: 10px;
    list-style-type: none;
}

.navlink {
    display: flex;  
    align-items: center;
    font-weight: 800;
    font-family: Quicksand,Helvetica;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    height: 40px;
}
.navlink:hover {
  border: 1px solid #94d1beff;
  text-decoration: none;
  color: white;
}

.login-form-container {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto auto;
    border: 2px solid rgba(255, 255, 255, 0.178);
    right: 0;
    bottom: 0;
    justify-content: center;
    border-radius: 1rem;
    padding: 2.5rem;
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.submit-btn {
    width: 100px;
    color: white;
    background-color: #2977f4;
    border-radius: 50px;
    position: relative;
    bottom: 0;
    height: 30px;
}

form label {
    align-self: last baseline;
    display: flex;
    font-size: 14px;
    margin: 5px;
    font-weight: 600;
}

form input {
    border-radius: 10px;
    margin: 5px;
    border-top: none;
    border-left: none;
    width: 20vw;
    height: 20px;
}
/* body {
    background-color: #ababac;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.navlist {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0;
    gap: 10px;
    list-style-type: none;
}
.navlink {
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    color:black ;
    /* height: 20px; */
/* } */
 */
.heading {
    text-align: center;
}
/* .login-form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 20vw;
    height: 20vh;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto auto;
    right: 0;
    bottom: 0;
    background-color: white;
    justify-content: center;
    border-radius: 1rem;
    padding: 2.5rem;
    text-align: center;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}
.submit-btn {
    width: 100px;
} */
.player-card .card-body {
    display: flex;
    justify-content: space-around;
}
.player-card .card-body span{
    width: 25%;
    text-align: center;
}
.player-card .card-body a {
    width: 25%;
    text-align: left;
}
.player-card-header .card-body span {
    font-size: 1.3rem;
    font-family: Quicksand, Helvetica;
    font-weight: bold;
}

.club-card .card-body {
    display: flex;
    justify-content: space-around;
}
.club-card .card-body span {
    width: 30%;
    font-size: 1.1rem;
    /* text-align: left; */
}
.club-card .card-body a {
    width: 30%;
    font-size: 1.1rem;
    
}
.club-card #rank {
    width: 10%;
}
.club-stats {
    display: flex;
    justify-content: space-around;
    width: 60%;
    
}
.club-stats span {
    text-align: center;
}
.club-card-header .card-body span {
    font-size: 1.3rem;
    font-family: Quicksand, Helvetica;
    font-weight: bold;
}
#accordion {
    width: 80%;
    background-color: #2977f4;
    color: black;
    font-size: large;
    
}
#headerText{
    color: black;
    font-size: large;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats {
  position: relative;
  left: 40px;
  right: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.492);
  color: black;
  text-indent: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.stats p {
    color: black;
    opacity: 1;
    margin: 0;
    font-family: 'Open Sans';
    font-weight: 700;
    width: 40%;
}
.stats-info {
  font-family: Quicksand;
  color: #ac3931ff;
  margin-left: auto;
}
.stats a {
  font-family: Quicksand;
  color: #335968ff;

}
.buttons {
  position: relative;
  left: 40px;
  right: 10px;
  display: flex;
  justify-content: right;
  gap: 20px;
  padding: 20px;
  width: 90%;
  font-family: Quicksand;
  font-size: 1.4rem;
}
.buttons a {
  font-family: Quicksand;
}
#register {
  width: 77%;
  margin-top: 10px;
  /* align-self: flex-start; */
}
#welcome {
  font-size: 120px;
  font-weight: 900;
  animation-name: updown;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rightleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes downup {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#introText {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #1d1a30;
-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(1px);
}

#members {
  position: absolute;
  text-align: center;
  margin-left: 30px;
  color: white;
  bottom: 0px;
  animation-name: updown;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  border: 1px solid none;
-webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
h2 {
  font-size: 60px;
  animation-name: rightleft;
  animation-duration: 1s;
  font-weight: 900;
  text-align: center;
  color: #201658;
}

#members span {
  font-size: 17px;
  font-weight: 600;
  color: #1d1a30;
}
