<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Leagues</servlet-name>
        <servlet-class>com.fifa.fcms.Leagues</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>League</servlet-name>
        <servlet-class>com.fifa.fcms.League</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Player</servlet-name>
        <servlet-class>com.fifa.fcms.Player</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Club</servlet-name>
        <servlet-class>com.fifa.fcms.Club</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Auth</servlet-name>
        <url-pattern>/api/auth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leagues</servlet-name>
        <url-pattern>/api/leagues</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>League</servlet-name>
        <url-pattern>/api/league</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Player</servlet-name>
        <url-pattern>/api/player</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Club</servlet-name>
        <url-pattern>/api/club</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>Staff</servlet-name>
        <servlet-class>com.fifa.fcms.Staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Players</servlet-name>
        <servlet-class>com.fifa.fcms.Players</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auth</servlet-name>
        <servlet-class>com.fifa.fcms.Auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clubs</servlet-name>
        <servlet-class>com.fifa.fcms.Clubs</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Staff</servlet-name>
        <url-pattern>/api/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Players</servlet-name>
        <url-pattern>/api/players</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clubs</servlet-name>
        <url-pattern>/api/clubs</url-pattern>
    </servlet-mapping>
</web-app>
